[2019-02-12 07:00] keunwoochoi opened #1 "Names, names, names"
* For STFT, unlike in Kapre where I used `Spectrogram`, I think `STFT` is a better name - it's more precisely correct.
  * I'm fine with following most of the `librosa` argument names. Here's librosa one at the moment
[code]

I personally found `hop_length` and `win_length` a bit verbose and prefer `n_hop`, `n_win`. But probably 'length of hop' sounds more correct for English speakers than 'number

[2019-02-12 07:05] keunwoochoi opened #2 "Shapes, shapes, shapes"
1. Should 2d representations be `time, freq` or `freq, time` as our convention?
2. Should they be interchangeable by any setup? Should we provide any utility function for that?

[2019-02-12 07:08] keunwoochoi opened #3 "Which layers/operations to implement?"
* STFT
* Melspectrogram
* Filterbanks - mel, cqt
* Pseudo-cqt? (I have code for it)
* mag-to-db, db-to-mag
* mag(real, imag representations), phase(real, imag representation)
* FFT-based fast convolution filtering? (I have code for it)

[2019-02-18 11:42] faroit opened #4 "Explain MaskConv2d"
I had a hard time to understand the masking convolutions in the code (such as [here](https://github.com/keunwoochoi/prepare_papre/blob/master/papre/layers.py#L181)). Could you please elaborate why this is necessary?

Also, maybe it would help to include the term "frame" in the example

[code]

so it becomes

[code]

?

[2019-02-18 13:35] faroit opened #5 "Inverse operations, wiener filter, softmask"
Concerning additional operators, the most valuable at this point would be inverse operators. However, for this, we would have to [wait until `ISTFT` is implemented](https://github.com/pytorch/pytorch/issues/3775).

But maybe it would be nice to implement some operations already like wiener filtering/soft masking/binary masking. Preferably all for multichannel spectrograms.

I could add this, if yo

[2019-02-18 15:31] keunwoochoi opened #6 "PEP8"
Are we gonna follow PEP8, right? I'm mostly doing it automatically using Pycharm's auto..whatever functionality. Or [autopep](https://pypi.org/project/autopep8/) would do the job.

[2019-02-19 18:32] faroit opened #7 "Spectrogram Power/Magnitude"
looking to your proposal, @ksanjeevan, I think we need to write-up some arguments for the changes. For example, I really like your `spectrogram` function and the `STFT` wrapper. Basically torch audio before didn't really care about applications where the complex part would be necessary for processing later. This is where the separate STFT shines. I would propose to make make denoising/separation/a

[2019-03-09 22:17] faroit opened #8 "magphase"
@ksanjeevan you were using

[code]
in the phase vocoder. That reminds that we could add a function to get the magnitude and phase of the STFT output. Or in short: lets copy  librosas [magphase](http://librosa.github.io/librosa/generated/librosa.core.magphase.html#librosa-core-magphase)

[2019-03-10 20:12] #7 closed, assigned to nobody

[2019-03-10 20:13] #8 closed, assigned to nobody

[2019-03-10 20:13] #6 closed, assigned to nobody

[2019-03-10 20:13] #4 closed, assigned to ksanjeevan

[2019-03-10 20:13] #3 closed, assigned to nobody

[2019-03-10 20:14] #2 closed, assigned to nobody

[2019-03-10 20:14] #1 closed, assigned to nobody

[2019-03-11 06:29] deNsuh opened #16 "How to make contributions?"
Are there any guidelines for contributions?
It would be very helpful if I could help contribute to implementing audio chunking / preemphasis / deemphasis filters etc. that are frequently used (from my small experience).

[2019-03-11 13:38] f0k opened #18 "Place for general discussion?"
Great you went public, I'm happy to see things moving forward!

The README file currently does not mention in what form discussions of the API and code should take place -- should this all happen in github issues, or do you have another means for more short-term communication?

To make this an issue and not just a question: The README file should be updated with a section on "Contributing".

[2019-03-11 13:56] faroit commented on #16
there is `torch.as_strided`, however [documentation is missing](https://github.com/pytorch/pytorch/issues/9886), but I would expect it to work the same as [numpy's implementation](https://docs.scipy.org/doc/numpy/reference/generated/numpy.lib.stride_tricks.as_strided.html)

sure, that looks helpful, but maybe not on focus right now.

[2019-03-11 14:00] faroit commented on #18
We don't really know ;-) The thing is that we want to come up with a proposal that we then want to formulate as code and then, hopefully, results in a PR for torchaudio. So in the end, we need to also discuss with @soumith and @dhpollack, that is why we might use the slack channel for communication and the issue for concrete proposals. What would you suggest?

[2019-03-11 14:05] f0k opened #19 "Parameter vs. buffer"
The implementations currently use `nn.Parameter` to store precomputed values such as the window function or filterbank. I think they should be buffers instead, registered via `model.register_buffer()`, so they can be Tensors instead of Variables.

In fact, they should neither be Parameters nor buffers, because they should not become part of the `state_dict`, but PyTorch does not support this direc

[2019-03-11 14:20] f0k opened #20 "API: Composition vs. Inheritance"
The API currently favors inheritance over composition. For example, `Melspectrogram` extends `Spectrogram`, and `melspectrogram` calls `spectrogram`. In a similar way, `MFCC` would extend `Melspectrogram`.

This means, for example, that one cannot reuse the `Melspectrogram` implementation to work on a custom `STFT` class. I don't have a specific use case in mind, just a sense of a missed opportuni

[2019-03-11 14:29] keunwoochoi commented on #16
- I guess probably the right way is to ask here - as you did! (ref: #18) But @faroit It'd be nice to make it explicit in README.
- audio chunking: I think it's different from `torch.as_strided` because optimal audio chunking would be loading the essential part only for efficiency. That said, it'd be something we'd like to have after finishing the audio loading module.
- pre-emphasis/de-emphasis: I

[2019-03-11 14:29] f0k commented on #18
Yes, sounds good. Issues have the advantage of discussing in the open, but they are a larger hurdle than a chat message on slack. I just started two issues before I read your reply. Let's try to discuss those on github and if it doesn't play well, move the discussion to slack.

But feel free to add a "Contributing" paragraph stating something like "This is an early draft for a possible replacement

[2019-03-11 14:33] keunwoochoi commented on #18
Thanks :)
+1 for github (Issues), especially over slack, which I'm afraid is not 100$ inclusive. As I just said in #16, we should make it explicit in README. You're experienced enough to have a couple of suggestions quickly, but I'd rather feel like to encourage people to share opinions here more than other repo's because that's what this repo is for.

[2019-03-11 14:46] keunwoochoi commented on #19
Hey, thanks for letting us know about it. I liked `nn.Parameter` because it then deals with the device automatically. You're right though that `nn.Parameter` assumes Tensors, although by passing `, requires_grad=False` there's no issue on computational efficiency. Being part of `state_dict`, a remaining (small) issue would be then it using more disk space.

Overriding `state_dict` sounds a bit has

[2019-03-11 14:49] keunwoochoi commented on #20
I think that's a great idea, actually that's also closer to our original idea - to have `MelFilterbank` class but I didn't come up with composing them. Which sounds even better.

[2019-03-11 14:50] faroit commented on #20
yes, we discussed this before but didn't think that far ;-) I like your alternative as it would make separation/spectogram filtering tasks more elegant such as

[code]

yes, sounds really nice, indeed. However it would add a lot of overhead, when eg. `spectrogram(X)` just would return the `magnitude`, no?

[2019-03-11 15:02] faroit commented on #16
@deNsuh we added a contribution section in #21

@keunwoochoi what do you mean by "essential part"? I guess @deNsuh meant a `Framer` function to that is typically part of the stft?

[2019-03-11 15:03] keunwoochoi commented on #16
I assumed chunk would be something longer - like, 2 seconds, probably one that becomes an input of a model.

[2019-03-11 15:57] f0k commented on #19
Yes, same for buffers.

That, and if we ever want to change the implementation to compute the forward pass in another way (e.g., using a sparse matrix multiplication for the mel filterbank), we'd need to override `_load_state_dict()` to ignore the old parameter/buffer on loading.

I think it would be something like:
[code]
You could also register a hook, but I find it weird to register a hook when

[2019-03-11 16:04] ksanjeevan commented on #20
Cool! having composition would also make adding the phase vocoder easier.

[2019-03-11 16:22] f0k commented on #20
Ah yes, of course, that's a good use case. Sometimes you will want to have both the complex and the magnitude spectrogram, or both the full and the mel-scaled spectrogram, so it's good to have the transformations available separately.

I assume you're talking of the functional interface now. It would still be `X = spectrogram(x)`, but also enable `X = magnitude(stft(x))` or `X = power(stft(x))`.

[2019-03-11 16:39] f0k opened #22 "Spectrogram code review"
Not sure if we are at this level of detail yet, but maybe it can serve as general hints for the code:
- The `Spectrogram` takes an `sr` argument, but never uses it. It should not know about the sample rate.
- On a related note, it defines a `_out_seq_dim()` method that's never used (and does not take into account the padding).
- It does not match the API described in the README, which allows to de

[2019-03-12 00:45] deNsuh commented on #16
- @faroit Nice! It was so fast :)
- @keunwoochoi preemphasis and deemphasis is just an example that I could come up with :) Not sure if it's popular in general for training audio data
- And yes, the chunking I meant was for something that could be used as separate entry in [`torch.utiils.data.Dataset`](https://pytorch.org/docs/stable/data.html#torch.utils.data.Dataset) - maybe ranging for 1 to sev

[2019-03-12 00:55] deNsuh commented on #5
Wiener filter would be incredible. I would love to have them.

[2019-03-12 08:12] keunwoochoi commented on #22
Apparently you're far ahead the current state of the code, which is good :)
- `sr` should be removed.
- `_out_seq_dim()`: forwarding it to @ksanjeevan
- Right, neither the default values. I think it should follow the API in READMe.
- Agreed on both - it should follow the functional, additionally because I think implementations of `Layer` should re-use the implementation of `Functional` in general.

[2019-03-12 10:06] dhpollack opened #23 "Libtorch support?"
Any thoughts on converting the functional parts of this to the c api and then calling those functions from python so people using libtorch could also use this library?  I feel like it would be useful for the small subset of users that don't want to rely on python and wouldn't be very difficult to implement.

[2019-03-12 10:57] VinodS7 opened #24 "HTK and Slaney"
For reproducibility it would be useful to have these two mel filters. These are the two types of filters I have seen the most so correct me if there are other more important types of mel filters.

[2019-03-12 17:30] ksanjeevan commented on #22
`_out_seq_dim()` should be removed yes.

[2019-03-12 18:06] keunwoochoi commented on #23
I haven't thought about it yet but sounds good.

[2019-03-12 18:07] keunwoochoi commented on #24
Agreed. Implementation wouldn't be a big issue, so would be the API design. PR would be welcome!

[2019-03-13 08:51] hagenw commented on #5
Do all the audio transforms have to work on `torch.Tensor`. I implemented so far most of my audio transforms for numpy arrays and did a conversion to `torch.Tensor` at the end.

For `stft` and `istft` it allows to use `librosa` and also adds the possibility to work easily with signals of arbitrary dimensions, e.g. (note: some code is missing to simplify the argument):
[code]

[2019-03-13 09:26] faroit commented on #5
yes, the aim is that all audio transforms (not to be confused with augmentation [transforms](https://pytorch.org/docs/stable/torchvision/transforms.html) should be able to run on GPU as aprt of the model.

In any case, we would need to wait for the [istft](https://github.com/pytorch/pytorch/issues/3775)

[2019-03-13 09:34] hagenw commented on #5
Ah, ok. I use all my audio transform as augmentation transforms.

[2019-03-13 09:39] faroit commented on #5
yes, currently I do the same. the dataset transforms are [bound to CPU](https://github.com/pytorch/vision/issues/45), but maybe that will change. I think we would still benefit from pure pytorch implementation

[2019-03-13 21:33] keunwoochoi opened #25 "harmonic-percussive source separation"
torch has [`median()`](https://pytorch.org/docs/stable/torch.html#torch.median). A median-filtering bass [harmonic percussive source separation](https://librosa.github.io/librosa/generated/librosa.decompose.hpss.html) can be easily implemented. It's quite a bit MIR-only though.

[2019-03-13 21:39] keunwoochoi commented on #18
For a new functionality, how about having a sort of structured procedure like

0. SEARCH if it was discussed before
1. Asking if some new thing can be useful to have (this part is quite often omitted in general, and I feel like.. how would you even finish implementing something even without being sure that it's gonna be used?)
2. (Optionally,) share a gist to discuss how it should be implemented
3

[2019-03-13 21:49] faroit commented on #25
I think we should stay away from classical based methods, since those are to be replaced by deep learning based ones sooner or later anyway (https://arxiv.org/abs/1807.11298)
Same for standard filters, etc.

personally, I'm against anything except STFT, except if its perceptually motivated (which mel do...
partly). But convince me that we still need that! ;-)

[2019-03-13 21:56] keunwoochoi commented on #25
No that's fair overall. But, I don't think that having deep learning based model out there should be a reason for us not to have something (for partly the same reason I'd like to have MFCC here) - because, well, then are we 'deploying' one of those pre-trained models? Are those things mature enough to be a part of? Would they be consistent (or even working) with newer torch versions? In short, I d

[2019-03-13 22:17] faroit commented on #25
Okay, maybe we can draw the line at:

* method is (still) useful as an input feature transform: 👍 (MFCC, MEL)
* method is part of package x, so i should be in torchaudio: 👎 (some heuristics based beat detection)
* method (still) serves as a baseline, so people benefit from GPU implementations: 👍 / 👎  (HPSS, Yin...), nice to have, but not priority

I think we should get the basics right and fast fi

[2019-03-13 22:22] keunwoochoi commented on #25
Great lines you draw there :) And I 100% agree. If they are indexed as 1, 2, 3,
Let's do 1 first.
Let's see if we should do 3
Let's not do 2.

Pre-trained model - like, model zoo for audio? You know, there'd be tons of headaches by them. Probably we can provide sort of awesome-list-pytorch-audio-models instead of host them.

[2019-03-14 00:14] keunwoochoi commented on #25
Note - hpss at gist; https://gist.github.com/keunwoochoi/dcbaf3eaa72ca22ea4866bd5e458e32c

[2019-03-14 00:27] tsauri opened #26 "change folder name from torchaudio-contrib to torchaudio_contrib"
Because you cannot import with a - ( subtract operator)

[2019-03-14 05:25] keunwoochoi opened #27 "gist: inverse-STFT"
https://gist.github.com/keunwoochoi/2f349e72cc941f6f10d4adf9b0d3f37e

It works, but I'll probably not gonna make a PR to Pytorch (https://github.com/pytorch/pytorch/issues/3775) because it's written in Python (`torch.stft` is written in C). Just for a future reference/usage.

[2019-03-14 06:56] faroit commented on #27
Great. Did you did test the reconstruction error?

[2019-03-14 07:10] seungwonpark commented on #27
I think line 33-40 can be replaced with transpose convolution. (I've done that in my private repository, but also didn't make a PR to PyTorch since it's not written in C like `torch.stft`.)
Probably I could open-source my private implementation of inverse-STFT after some code refactoring. That is also based on librosa implementation of istft. Will that be helpful for us?

[2019-03-14 07:22] keunwoochoi commented on #27
@faroit Could you possibly test by yourself? Because I did, and the error was `0`. Not sure if it's for real..

@seungwonpark Yes. I think there's pros/cons though. `torch.rfft` would be a complexity of `n log n` in computation while transpose convolution would be `n ** 2`. But transpose conv layer might outspeed due to a better parallelization -- although the current approach can be also framed (

[2019-03-14 07:23] keunwoochoi commented on #26
Thanks. If other maintainers have no specific veto, I'll do it later. Or you can PR too.

[2019-03-14 07:26] seungwonpark commented on #27
@keunwoochoi  Thanks for pointing out the difference! I'll let you know when I'm ready to share.

[2019-03-14 09:35] seungwonpark commented on #27
Here it is. I've also measured the time performance, and looks like your implementation is much faster!
https://github.com/seungwonpark/istft-pytorch

By the way, I can't find out the actual difference between them. The major difference is that mine uses `ifft` and yours uses `irfft`. So, I've tried using `irfft` instead of `ifft` in my implementation, but no significant difference was found.

[2019-03-14 15:44] faroit commented on #27
@keunwoochoi cool, I tested yours in [a small experiment](https://github.com/faroit/stft-istft-experiments) where I run STFT of one library (librosa, scipy, tf, torch) against ISTFT of another and measured the reconstruction RMSE.

[code]

i think this is because of the combination of half overlap (you used //4) the `hann` window and the  not existing normalization. Anyway this is easy to fix...

[2019-03-14 15:53] faroit commented on #27
@f0k btw. do you know a good way to write a unit test for STFT/ISTFT checks errors due to windowing when masking was applied before the ISTFT, e.g. normalizing using the window instead of the squared window....? I was always wondering how to catch these....

[2019-03-14 16:04] keunwoochoi commented on #27
It’s probably due to the boundary. I don’t pre-pad, if you ignore the first and last half-windows in the eval it should be much better for the moment.

[2019-03-14 16:50] nkundiushuti commented on #27
it would be interesting to compare with https://github.com/wslihgt/pyfasst/tree/master/pyfasst/tftransforms
I have used as a baseline the stft implementation of JL Durrieu which uses numpy. I think madmom (JKU Linz audio framework) also uses something similar.
oh btw you can find some tentative implementation of cqt using nsgt. but it's not reliable. and I don't know how you could port it in pytor

[2019-03-14 16:53] faroit commented on #27
cool. There also https://github.com/nils-werner/stft which I used for quite a while. But I think we should stick to scipy.signal and librosa since they are heavily tested and used.

[2019-03-14 17:04] nkundiushuti commented on #16
I also have some ideas on how to do the chunking. plus the reconstruction after ISTFT (involving some overlapping windows). should we open a separate issue?

[2019-03-14 17:05] keunwoochoi commented on #16
Sure, please go ahead.

[2019-03-14 19:00] f0k commented on #19
Bummer: This breaks compatibility with `torch.nn.DataParallel`. `torch.nn.parallel.replicate` does not call `.to()`, but explicitly copies only the parameters and buffers using a more performant way. So we should use buffers and override `state_dict()`.

[2019-03-18 08:04] nkundiushuti opened #29 "chunking, batch creation"
Hi!

I have faced this issue for the past years. I wonder what are the options. I will present my solution which of course is not the best either the most efficient.
The problems are: working with datasets which don't fit into memory, and random grouping of chunks from different files. Basically you don't want to end up with a batch made of instances from the same audio file.
To solve this problem

[2019-03-18 09:08] dresen commented on #16
At least in ASR, preemphasis is falling out of fashion because NN AMs can deal with low energy at high frequencies better than GMM AMs

[2019-03-18 09:13] dresen commented on #16
The maintainers of the Kaldi repo has started a new version that will break back compatibility and one of the reasons are a lot of audio processing that is not really used. You can look at the Kaldi help forums and developer mailing list to see some of the stuff they intend to deprecate

[2019-03-18 17:05] keunwoochoi commented on #16
@dresen Hi, thanks for letting us know. Yeah, given that we're focusing on something common in many areas within audio and ones that would (hopefully) stand over time, pre-emphasis/de-emphasis wouldn't be prioritized.

Right, or... maybe could you help us being updated from the speech research point of view? :)

[2019-03-18 18:06] VinodS7 commented on #24
Will work on it. I am going to reimplement how librosa generates the filters in their backend. However, it is done in python and not in C. Also, I will write some tests that compare my implementation to librosa's but do we have a system in place for writing and evaluating tests?

[2019-03-19 08:17] hagenw commented on #24
If you want to use the same test framework as PyTorch, [uinittest](https://docs.python.org/3/library/unittest.html) would be the way to go.
I would personally prefer [pytest](https://pytest.readthedocs.io/) which is great for doing parametrized tests, see also https://github.com/pytorch/pytorch/issues/11578.

To compare the actual outcome of the two implementation, something like `numpy.array_equa

[2019-03-19 08:22] hbredin commented on #29
I do something similar in [pyannote.audio](github.com/pyannote/pyannote-audio):
- start by [loading](https://github.com/pyannote/pyannote-audio/blob/89b847a9d0ea81029c8dfc86f4ccccbb20c0942e/pyannote/audio/labeling/tasks/base.py#L94-L109) detailed metadata (file durations, labels, etc...) about the dataset
- then [randomly select chunks](https://github.com/pyannote/pyannote-audio/blob/89b847a9d0ea8

[2019-03-19 19:53] keunwoochoi commented on #24
@VinodS7 Welcome and thanks :)

Would it make a big difference in computation time?

[2019-03-19 19:56] keunwoochoi commented on #24
@hagenw Thanks for letting us know. Probably we should start with `unittest` and see how it goes there. @faroit @f0k Any thought?

[2019-03-19 22:47] faroit commented on #29
@nkundiushuti thanks for bringing this up. This is a big issue for music researchers where we deal with variable length audio and models are not capable to use long term temporal context so we still use chunks of a few seconds.

This is actually only one part of the problem, and its not even the biggest one. Lets formalize it into how we draw samples for one batch....

|       | Chunk            |

[2019-03-19 22:49] faroit commented on #29
@hbredin I used pescador in many of my experience, but you loose performance due to the zmq based parallelization.  I didn't systematically  benchmark any of this, though...

[2019-03-20 18:16] keunwoochoi commented on #29
Definitely a good thing to have. What'd be the API for the function though? Have a generator or iterator that produces.. file paths maybe?

[2019-03-20 20:02] faroit commented on #29
since the sampling is within a file it would be more or less seeking positions...

[2019-03-21 07:21] faroit commented on #29
actually an `IterableDataset` is [currently being developed](https://github.com/pytorch/pytorch/pull/14705) for PyTorch. For the mentioned hierarchical sampling strategies, it probably would make sense to wait for this to be merged and added to PyTorch before we add our own code.

[2019-03-22 16:40] f0k commented on #29
My usual take on this similar: I first collect the labels and the lengths of all audio files, then I extract random excerpts, uniformly sampling first the files (without replacement), then a position within each file (with replacement).

To be fast enough, I store files in .wav format and open them as memory-mapped files (only when accessing them; I cannot keep them open because then I run out of

[2019-03-22 16:47] f0k commented on #24
If there is no policy forbidding us to do so, I'd also prefer pytest.

I think we should make it easy to reproduce most research papers, so (a) we should include these two filterbanks by default and (b) the API should make it easy to add your own.

[2019-03-22 16:57] f0k commented on #16
I think we should make it easy to reproduce most research papers from most audio domains, so we may want to include this as well, but I'd leave it up to a speech expert to implement it the way it's needed.

[2019-03-22 16:59] f0k commented on #26
No veto. But is it meant to be imported? :)

[2019-03-24 22:22] drscotthawley commented on #26
Was just opening a new issue about exactly this, when I saw this open Issue.  Pasting in what I said...

Hey guys, great that you're doing this.  I wanted to make this easy to try out and include in other code via `import torchaudio-contrib`, but the hyphen in the name "torchaudio-contrib" is a problem: Python doesn't allow hyphens, only underscores.

Would you consider changing the main sub-direc

[2019-03-24 22:30] drscotthawley commented on #26
Add pull request https://github.com/keunwoochoi/torchaudio-contrib/pull/30

[2019-03-24 23:34] drscotthawley opened #31 "conversation: fast, general audio read"
I love the benchmarks by @faroit on audio read speeds.  I too have tried a number of different libraries, and have  generally been using scipy.io.wavfile.read() for its speed whenever possible, but switching to the slower librosa.core.load() when more general reading capabilities are needed (e.g. resampling, or 24-bit WAV files).

And I've just today noticed that scipy is throwing Warnings when re

[2019-03-25 12:54] hagenw commented on #31
Thanks for raising this issue, I struggled with this for some time now. Our goal should be:

**Read multi-channel audio from different formats like WAV, FLAC, MP3, OGG, MP4 (including movies) as fast as possible and without corrupting the data**

For WAV, FLAC, and OGG this can be solved by `soundfile` which is fast and can handle 24-bit files as well. For other formats I tried `librosa` first (wh

[2019-03-25 19:03] drscotthawley commented on #31
@hagenw  I'm fine with you or someone else overwriting my proposed load & save routine in `io.py` with calls to your `audiofile`  (although your dependence on `sox` would seem to violate what was proposed in the README).

It just seemed strange to me that, with all the talk of loading & saving in the README, this package wasn't actually offering any read or write capabilities, or any even links to

[2019-03-25 20:24] hagenw commented on #31
@drscotthawley I agree that it is not completely clear if we should only discuss solutions and API designs here and implement them in https://github.com/pytorch/audio or if we should implement them here.

Regarding the `sox` dependency, this is indeed still open for discussion. We have to find a solution that on the one hand works as fast as possible and on the other hand requires the least possib

[2019-03-25 21:47] faroit commented on #29
@f0k thanks for your detailed insights.

In this setting, how many excerpts/samples do you yield in total and do you usually evaluate this parameter?

So just to summarize, you are doing tracks (without replacement) and excerpts (without replacement) because it is the only way to efficiently handle very large data sets, right?

I think that means, for now its probably the best to stick with indice

[2019-03-25 22:04] faroit commented on #31
@drscotthawley Thanks for you initial file support

Regarding 24bit, it seems not that difficult to actually manually read 24bit wav files, [seen in pydub](https://github.com/jiaaro/pydub/blob/master/pydub/audio_segment.py#L230).

Yes, so we thought to do it in three steps (sorry for not being more clear in the repo):

1. Discuss if we want to remove libsox as the default audio i/o library? ....co

[2019-03-25 22:08] faroit commented on #31
@hagenw Package looks great, I will have look later...

External programs are npt bad per se. For example, I still think ffmpeg is one of the most reliable lib for I/O. I think we should also talk a bit about packaging. Since many people use anaconda, we should probably look for the availability of the libs there. E.g. sox-dev is not there which results in so many people currently not being able t

[2019-03-25 22:15] faroit commented on #31
Another thing: before trying to implement python based i/o ops, we should really consider the options of C interfaces as torchaudio is currently doing with sox. So ideally we would need to interface `soundfile` or `ffmpeg` from libtorch directly. That way we might get a significant speed-up as well.

I found that torchaudio might not be faster than soundfile for iterating through a linear dataset

[2019-03-25 22:39] f0k commented on #31
Yes, it's something that needs to be discussed as well. For now this is more of a construction site and discussion board then a package meant to be used.

A fun trick is to view them as an int32 array with a stride of 3 bytes and then mask the lowest byte (I prefer this over shifting, since this way you'll cover the full value range of the dtype and don't have to remember how many bits you had). W

[2019-03-26 08:01] hagenw commented on #31
@f0k I would be in favor of excluding resampling and downmixing from the actual audio file loading methods and implement them independently, e.g. I do it with transforms at the moment. It might be not ideal for data sets that contain mixed sampling rates, but from a design perspective I'm very much in favor of having separated methods for separated things.

[2019-03-26 15:30] drscotthawley commented on #31
@hagenw Perhaps two different `load()` methods would be in order: one that is bare-bones, and one that is a larger wrapper around that, which provides the necessary resampling or downmixing.

I think being able to "load at a specific sample rate" (i.e. read and resample if necessary) and at certain number of channels needs to be a *standard feature* for a `load` method, whether this means calling

[2019-03-26 18:07] keunwoochoi commented on #31
Actually, both approaches could be quite problematic. A lot of librosa issue is about why librosa's `load` does the resampling to 22050 by default because they (including myself) at the first time expected it to load the sampling rate as it is (which is done by setting `sr=None` which I think could be improved unless there's backward compatibility issue). So, I'd be down for making things more exp

[2019-03-26 18:26] hagenw commented on #31
I see the convenience point of adjusting the signals during loading. Using more explicit argument names would be a welcomed improvement over `librosa`.

Short comment on `downmix`: to be fair in comparison to resampling it should maybe more like this:
[code]
as with multi-channel audio you might also want to upmix some files.

A related problem is what additional arguments we want to offer here. F

[2019-03-27 15:03] keunwoochoi commented on #31
@hagenw Yeah, I also thought the same. It would depend on what functionality we'd have though - if it's only `N->1` downmix, maybe keep it as `downmix` or `downmix_to_mono`, otherwise `remix_to` would fit better.

[2019-03-27 15:11] faroit commented on #31
just want add that if we talk about spectrogram models, you would want to do the downmix there; and not in the time domain, to maximize the channel energy.

[2019-03-27 15:17] hagenw commented on #31
Interesting, but it does not really affect what we decide for `load_audio` or will it have some implications?

[2019-03-27 15:22] faroit commented on #31
I would generally vote against any pure python or external tool based pre-processing code for torch audio. It may be convenient, but training loops would need to efficient to maximize gpu utilisation. We could possibly look for a cuda enabled resampling, I guess, but I would propose to handle efficient basic audio loading for different codecs first.

* Who would be able to write a libsndfile and/o

[2019-03-27 15:22] faroit commented on #31
No, its fine. Its just a remark the might add a `mono` flag for `Spectrogram`

[2019-03-27 15:25] hagenw commented on #31
@faroit do you think it is really necessary to write an own libsndfile interface instead of using `soundfile`?

[2019-03-27 15:52] faroit commented on #31
its not necessary, but

1. it would make it easier to call from libtorch (which will be important for production/deployment)
2. we have fewer python requirements
3. it will probably a bit faster

[2019-03-28 11:10] f0k commented on #31
Oh, a name discussion :heart:! I like `resample_to` as a clearer alternative to `sample_rate`. In some of my code, i used `sample_rate=None` to load as-is, and `sample_rate=x` to bail out if the file does not have the expected sample rate.
`downmix` is definitely too limited, we want users to be able to specify the number of channels. We may want to go from 4 to 2 or from 1 to 3. The term `remix_t

[2019-03-28 12:16] hbredin commented on #31
In the speech community, most datasets come with annotations in seconds (e.g. who speaks when): therefore, I would go with seconds.

Sample precision is indeed an issue: we want to make sure that cropping a waveform between t=1.234s and t=4.234s (3 seconds long) results in exactly the same number of samples as cropping it between t=0 sand t=3s. With respect to this issue, an API with `start` and `

[2019-03-28 15:24] f0k commented on #29
It's basically an infinite iterator, and I yield mini-batches until the validation error does not improve any more, checking the validation error (and possibly adapting the learning rates) every k updates (I sometimes refer to this as a mini-epoch).

Excerpts with replacement! I don't want to memorize which excerpts per track have been seen already, so I just hope independently random positions wi

[2019-03-28 15:28] seungwonpark commented on #27
Hi, recently we've found out that our previous time profiling code in [my repo](https://github.com/seungwonpark/istft-pytorch) for comparing Choi's implementation(rfft) and mine(deconvolution with parallel ops) was wrong, and fixed it.

And the new conclusion is: deconvolution is much faster!
Please check https://github.com/seungwonpark/istft-pytorch.

[2019-03-30 15:52] f0k commented on #29
Okay, I read through the documentation and some of the code. pescador provides a `Streamer`, which wraps a generator function along with its args and kwargs, and then can start the generator whenever needed. Such an extra abstraction is important -- also the data iterator in my previous comment would return a generator whenever asked for it. That's what allows data iteration to be parallelized acr

[2019-04-01 10:01] f0k commented on #29
Actually, if the user can override which key each data source uses, and can tell the iterator what source of randomness to use for each key, it's not so brittle any more. Each augmenting data source would use some default key (such as `pitch_shift` for a raw audio pitch shifter, or a pitch shifting mel filterbank, or a pitch shifting label transformator) that could be overridden for special purpos

[2019-04-02 00:03] ksanjeevan commented on #29
@f0k could you elaborate a bit more? I was using the [phase_vocoder](https://github.com/keunwoochoi/torchaudio-contrib/blob/8c6566392751f169678e2872202c9555248c7cdb/torchaudio_contrib/functional.py#L185) for the time stretching and was thinking of how to do the `sinc` resampling for the pitch shift... looks like you're saying it's not worth the cost in your experience?

Could you give an example w

[2019-04-02 08:42] f0k commented on #29
Yes, but I guess it strongly depends on your task. I was doing voice activity detection for music (see [paper](http://ofai.at/~jan.schlueter/pubs/2015_ismir.pdf) and [code](https://github.com/f0k/ismir2015)). Since the network only sees mel spectrograms, doing a high-quality pitch shifting on the time-domain signal is probably overkill (disclaimer: I didn' try).

Yes, that's what I mean. Depending

[2019-04-02 08:58] f0k commented on #29
Ok, let me challenge this right away -- it's not really needed to have two pipelines for this. It can also be one pipeline that passes on dictionaries of data, and has most nodes only operate on one item of the dictionary (e.g., we would have a node that pitch-shifts spectrograms and does not touch or look at the labels, and another that pitch-shifts labels). This would allow nodes that *can* oper

[2019-04-03 13:18] f0k opened #35 "Functional interface"
In https://github.com/keunwoochoi/torchaudio-contrib/pull/34#discussion_r271428800, we discussed what purpose we actually see for the functional interface.

My stance would be to follow `torch.nn.functional`: It provides the operations that the modules in `torch.nn` are made of, in order to make it easier to reuse implementations for new modules. Any operators needed for the operations are provide

[2019-04-04 03:37] ksanjeevan opened #36 "Parameter names: `sr`, `n_mels`, `n_stft`, `f_max`, `f_min`"
I always find shortened parameter names a bit cryptic (`sr`, `n_mels`, `n_stft`, `f_max`, `f_min`). Do we want to follow librosa here? If we do, we should do it correctly; if we don't, we can choose more verbose names (`sample_rate, fft_bins, mel_bands, min_freq, max_freq`, although `mel_bands`/`n_mels` is specific to the type of filterbank, and should maybe be called `num_bands`/`n_bands` to be t

[2019-04-04 04:25] ksanjeevan commented on #35
I think it was a conscious choice (as can be seen in the README) based on the cases where a user wants to compute say the spectrogram outside of a module without having to do `spec = Spectrogram(*args).cuda()(x)` (and the overhead of creating a module just for an operation). At least I think this is how the conversation went, @faroit and @keunwoochoi if I'm missing something!

After giving it more

[2019-04-04 05:24] keunwoochoi commented on #35
Hmm, ok I'm quite sold. I'd summarize

with a nice example of how to create windows in the docstrings.

On composition - @ksanjeevan I thought it's only a matter for `Layers`?

[2019-04-04 05:27] ksanjeevan commented on #35
Yes definitely, I just meant that if the `functional.melspectrogram(x, *args)` had to also compute it then it was also doing composition (of functionals, and not modules).

👍

[2019-04-04 07:07] hagenw commented on #36
I would be in favor of more verbose names and am not a big fan of the current librosa argument names.

[2019-04-04 08:00] f0k commented on #35
I see, for interactive exploration sessions, functions may be useful. But if the function created the window, they might not be aware of the overhead of creating a window in every call.
A second use of the functional interface in PyTorch is in defining models. Some examples only create all learnable layers in the constructor of their Module, and then use the functional interface for nonlinearities

[2019-04-04 09:09] f0k commented on #36
Great. Also note the first goal in the README: "Clear, readible names for class/functions/arguments"

Let's collect some suggestions then. Collecting things from my own code and making them more uniform or more consistent with `torch.stft`:
`samples`: a tensor of audio samples
`sample_rate`: the rate of audio samples (samples per second)
`spect`: a tensor of spectrogram or mel/CQT spectrogram fram

[2019-04-04 09:28] hagenw commented on #36
Some comments on a few of them:
`samples`: this could be confused with `number_of_samples`. A better name might be `signal`, but it might depend on the actual class, method where you using it.
`sample_rate`: I never can decide between `sampling rate` and `sample rate`, but I guess the seconds wins as it is shorter?

[2019-04-04 13:07] f0k commented on #36
I think the latter should be `num_samples` with analogy to `num_bins`, `num_bands`. If we rename `samples` to `signal` (which I'd also be okay with, although I find `samples` more explicit), then we still shouldn't shorten `num_samples` to just `samples` because of the same ambiguity.

Yes, interesting. So that's something that `sr` avoids :) Another argument for `sample_rate` would be the consist

[2019-04-04 13:35] hagenw commented on #36
Totally agree, I would not propose to shorten `num_samples` to `samples`. The proposal was more to not use `samples` at all as new and non-familiar users might confuse it.

I see the point that `sample_rate` fits better with `frame_rate`, I was just wondering if "sample rate" or "sampling rate" is better English ;)

[2019-04-04 15:24] f0k commented on #36
Ok. Another confusion might be with training samples / training examples. I'd also be okay with `signal` and `signal_size`, `signal_length`. Hmm, `signal` sounds like something continuous and eternal, but here we deal with discretized, finite excerpts. For this reason, I still like `samples` and `num_samples`, but then what's the name for the length of `samples` in terms of seconds?

Oh, these nam

[2019-04-04 16:44] faroit commented on #36
I don't really want to go deeply into your name discussion here... but I would be very much in favor if not using `samples` here at all as well.

So often it happened that I supervised some people for ML+Audio and they always were confused by what we audio heads are calling `samples`.

If we need vocabulary for sequential samples or frames I would just leave this to `timesteps` closely following t

[2019-04-04 16:50] keunwoochoi commented on #35
👍
Agreed, thanks for letting us know about those.

This is very true!

[2019-04-04 17:01] keunwoochoi commented on #36
Does it mean we're gonna use something like `timestep_rate` for sample rate? My opinion is to keep using `sample` and `sample_rate`, feeling like giving up those names are a bit of stretch. LET'S BE AUDIOHEADS.

How about `n_` or `num_` for discrete (instead of `size`) and use `len(gth)` for things in [second]? `size` feels like something potentially multi-dimensional. And -- stuff like `n_fft`, `

[2019-04-04 17:06] keunwoochoi commented on #31
I agree with it.

Exactly, that's why I suggested keeping `downmix` as it is and only changing `sr` to `resample_to`. `remix_to` is difficult - it's hard to define what kinds of output channel numbers we're gonna allow, and how to implement it. I'd be up for leaving it for the users in those cases.

[2019-04-04 17:15] #26 closed

[2019-04-04 17:16] keunwoochoi commented on #24
Ok let's go with pytest.

[2019-04-05 08:13] f0k commented on #36
Oh, please do! Names are important and hard to change.

`signal` it is, then? Another advantage of `signal` is that you can still form a plural of it, this doesn't work with `samples`.

As I understood, this only applies when we need a generic term that encompasses both. For functions that clearly only take raw audio samples, or clearly only take spectrograms, we would use the more specific terms

[2019-04-05 08:35] f0k commented on #31
`ffmpeg` can do all combinations, they select something more or less reasonable (but not always, I've seen it output an empty channel when going from 4 channels to 4 channels). And other backends do not need to support all combinations of input and output channels. But all should be able to go from 1 to K by replicating (or `expand`), and then `downmix` is not a good name.
Maybe go back and just u

[2019-04-09 07:58] f0k commented on #36
New idea:
* `_len` or `_length` for the length in samples, i.e., what `len` would return (if we had the time in the first dimension, which we can't due to the BCHW layout in PyTorch).
* `_dur` or `_duration` for the length in seconds

I like `_len` for its correspondence to `len()`, but I don't really like `_dur` because it's slightly cryptic. On the other hand, I assume many people think `_durati

[2019-04-09 08:59] faroit commented on #36
since `sample` is only used here. Can we just  do `rate`?

otherwise: 👍

[2019-04-09 09:05] hagenw commented on #36
I would go for `length` and `duration` as `dur` is not obvious.
I would not go for `rate` as it is also not obvious which rate is meant.

[2019-04-09 09:48] f0k commented on #36
I like long names anyway. Others?

Not easily, we need to discuss this.
1. There are functions that need both. If we compute a spectrogram, we may need to give both the input sample rate and the output frame rate. (I imagine that many arguments can be used interchangeably, whatever is more convenient for the use case, so we may need both rates to convert durations to lengths.)
2. There are functio

[2019-04-09 14:11] keunwoochoi commented on #36
Agreed overall.

but when do we use it?

[2019-04-09 15:54] ksanjeevan commented on #35
Ok sounds like we're aligned on this :+1: . I'll wait for the other current issues/discussions to come to a resolution and then update the PR!

[2019-04-09 17:45] dresen commented on #16
Yep

Den tir. 9. apr. 2019 kl. 16.28 skrev Fabian-Robert Stöter <
notifications@github.com>:

--
Med venlig hilsen

Andreas Søeborg Kirkedal

[2019-04-09 18:52] #16 closed

[2019-04-18 09:09] deNsuh commented on #31
I have experience on using `ffmpeg` libraries (`libavformat.h` etc.) to implement bottleneck processes like resampling / decoding in C and then attaching on golang or python interfaces. I could work on it if we settle on the API. However, before considering this option, we need to first remind that `ffmpeg` is a _HUGE_ set of libraries (shared libraries all amounting to ~200MB), targeted mainly fo

[2019-04-30 06:33] f0k commented on #31
I think that rather than comparing to TF, we should compare to `torchvision`, which also doesn't require users to decode to raw or bmp files.

Wave files can have an arbitrary number of channels, and can include information on the channel mapping (using the WAVEFORMATEXTENSIBLE header).

[2019-04-30 10:39] f0k commented on #36
But there were still some open questions.

When we define a model that should be applicable to both 22 kHz and 44 kHz files, for example. We can either force users to do the conversion, or provide an interface that allows either lengths or durations.

[2019-05-01 03:28] keunwoochoi opened #37 "Proposal on the way we work"
Hi all - including other maintainers and everyone,

Thank for all the works, everyone. I'd like to share my feeling and suggestions on the way we work on this repo. For me, there seem two aspects that we can make an improvement.

### Doing things quicker
Yes, we didn't reach a unanimous agreement yet on some of the issues. But I'm somehow worried if we're seeking perfection for the sake of being s

[2019-05-01 03:36] soumith commented on #37
this is generally a great direction when doing fast iteration and collecting functionality rather than deeply thinking about designing a coherent package.
It's a perfect model for `-contrib` who's primary purpose should be to collect functionality while thinking about final design.

[2019-05-01 03:40] ksanjeevan commented on #37
Yeah I agree. A lot of the discussions in the issues have been very good and brought us to definitive conclusions but others just by their nature will take longer to settle. I think it's better if we press forward with the things we know can improve the project incrementally, allowing for overarching discussions to not be rushed.

[2019-05-01 18:47] keunwoochoi commented on #37
(wanna copy even more people - @deNsuh @hagenw @drscotthawley @nkundiushuti @VinodS7 @dhpollack @hbredin)

[2019-05-01 18:49] keunwoochoi commented on #37
Actually, this also changed my mind a bit - once we're done with STFT, I'd like to add harmonic-percussive source separation #25 which seems a good example of {Yes to be in `-contrib` repo, maybe not in the main repo, people can still use it}. There are a bunch of these kinda things. Maybe the same for `preemphasis` function as another example?

[2019-05-01 18:56] keunwoochoi commented on #37
## Workflow suggestion

 - (Optional) Maybe discuss what to add at Issue.
 - Make a PR with`Layer` and `Functional` implementations (+ unit test, preferably)
 - If it works, we merge it here
 - We then keep optimizing the implementation, parameter, names, default values, etc.
    - So far people should it at own risk
 - After optimization, we make a PR to the main repo. By 'we' it could be the ori

[2019-05-01 19:04] keunwoochoi opened #38 "SpecAugment"
https://github.com/zcaceres/spec_augment

This is obviously what we'd be interested in. cc' @zcaceres

[2019-05-01 19:05] ksanjeevan commented on #38
We could add the `PitchShift` and `TimeStretch` on gpu here too?

[2019-05-01 19:06] keunwoochoi commented on #38
If we go for #37's way, yes definitely - and it was even faster than on-CPU, right?

[2019-05-01 19:13] zcaceres commented on #38
thanks for the mention!

Not to be promotional but have you taken a look at [fastai-audio](https://github.com/zcaceres/fastai-audio) ? I wrote a bunch of GPU-based data augmentations there w/Torchaudio.

[2019-05-01 19:14] ksanjeevan commented on #38
`TimeStretch` benchmark showed faster than librosa on cpu (and way faster on gpu).

[2019-05-01 19:23] keunwoochoi commented on #38
@zcaceres Oh, only heard of it, looks great! Seems like a bunch of great motivations. I'll review the notebooks by myself soon and would love to hear from you about anything good to add here :)

[2019-05-01 19:31] zcaceres commented on #38
@keunwoochoi the notebooks are a bit of a mess so reader beware! within the next two weeks I'll be polishing them up and exporting the best code to a usable module.

the idea was to have a full audio pipeline from raw files --> transforms with GPU --> working classifier & working sequence (RNN) model where you can easily operate on raw signal or an image representation (spectro) of the signal. We

[2019-05-01 20:34] keunwoochoi commented on #24
@VinodS7 Hi, we'd love to hear from you if there's been any progress! :)

[2019-05-01 20:37] keunwoochoi opened #39 "unittest vs pytest (again)"
We once talked about it briefly on #25. So, we have some preferences on `pytest` over `unittest`. But currently both `pytorch/pytorch` and `pytorch/audio` are using `unittest`. I think we should follow them, otherwise - if we go with `pytest` - we'd need to write it again with `unittest`.
Any thought?

[2019-05-01 21:06] ksanjeevan commented on #24
Should be easy to add Slaney following librosa https://librosa.github.io/librosa/_modules/librosa/core/time_frequency.html#hz_to_mel? Would just have to add them as options to [`MelFilterbank`](https://github.com/keunwoochoi/torchaudio-contrib/blob/af20c5bd60badcb8ab82ee83d1eb746c8e43a0e5/torchaudio_contrib/layers.py#L159)!

[2019-05-01 22:37] ksanjeevan opened #40 "Signal resampling, sinc interpolation"
Using band-limited sinc interpolation for audio signal resampling [works well](https://ccrma.stanford.edu/~jos/resample/). Would it be worth maybe implementing `mode='sinc'` for `torch.nn.functional.interpolate`? Are `'nearest'`, `'linear'` good enough?

[2019-05-01 23:51] keunwoochoi commented on #40
`nearest` wouldn't result in what we want. `linear` - ok, but not ideal, `sinc` would work better. Ugh, I don't recall details but sounds promising/useful.

[2019-05-02 13:28] VinodS7 commented on #24
@keunwoochoi Hey. Sorry got caught up is some paper deadlines. I'll have it done by end of next week!

[2019-05-02 18:38] keunwoochoi commented on #24
@VinodS7 Perfect, no problem, no rush. @ksanjeevan is working on Melspectrogram and I'm expecting to merge some update on it soon. It'll become obvious on which part of the code you should be work on. Thanks! :D

[2019-05-02 20:39] faroit commented on #27
I think we should close this then and move this initiative over to https://github.com/pytorch/pytorch/issues/3775

@seungwonpark are you willing to help out over there?

[2019-05-02 20:42] keunwoochoi commented on #27
Yeah, we could close it, maybe re-open once we wanna work on a wrapper for it.

[2019-05-02 20:49] faroit commented on #40
a sinc kernel is indeed useful and is the basis for a good audio resampler. But then, be aware of that  quality audio resamplers are a [tough business](http://src.infinitewave.ca/), and if we do this, we should do it right.

I would personally vote for putting this aside for now so that resampling wouldn't block #29 and #31

[2019-05-02 21:01] keunwoochoi commented on #40
would it though? i think we can develop it independently and see how we could merge it.

yeah that's true, but we wouldn't prob target it to be like SOTA quality. I don't really know how to measure resampling quality (SNR?), but there might be some sweet spot where the quality is "good enough* for some training with (much) faster operation.

[2019-05-02 21:28] faroit commented on #31
this is true but decoding a jpeg or png is a lot simpler than a HE-AAC decoder. And when it comes to other image formats like webp or jpeg2000 things also get messy on the PIL/pillow side.

Now, after all this discussion, I think we should decide/vote what to do. I think we have two camps:

### A
Abandon the sox inferface and start from scratch with a clean libtorch implemention that first only su

[2019-05-03 13:31] hagenw commented on #39
I'm not completely convinced. Maybe we should first:
* Ask PyTorch if they will stay with `unittest`
* Consider that unittest might also be run by pytest. Haven't tested this, but https://docs.pytest.org/en/latest/unittest.html

The main reason I'm still pushing for pytest is that it is very convenient for testing a huge combination of parameters/arguments and in my opinion the better choice.

[2019-05-03 13:35] hagenw commented on #31
Both **A** and **B** require to include an external C-library. Are there any advantages of redoing the current sox-implementation with libsndfile? Will it be easier to install with libsndfile-dev than sox-dev?

[2019-05-03 14:19] faroit commented on #31
yes. thats right. Maybe then there is __C__ which would remove any dependencies and rely on a pure python or pure torch based loader. This is doable, but maybe this would then make torchaudio less useful. I would actually vote for __C__ as I think that the cleaner and faster the better.

speed, and less complexity. But I see your point, redo a C interface would probably make more sense if we switc

[2019-05-03 22:39] keunwoochoi commented on #37
Just for the record, I think at the beginning we were more like strict partly because when @faroit and I were brainstorming it, we saw this repo more like a replacement of `torch/audio`. Only at the very moment of making it public, we named it `-contrib`. But overall I think we're good to go in this way (I also talked over email with @f0k). Let's do it!

[2019-05-03 22:53] keunwoochoi commented on #39
Hey, thanks for the opinion. I totally got it. But Pytorch is huge, it'd take a good time to persuade them and make the change while we need to decide it much sooner. But maybe torchaudio would be willing to change it and that's what really matters to us.

So, how about asking torchaudio if they'd be fine with `pytest`? Actually, could you do that? :) that'll be more persuasive since you know bett

[2019-05-04 10:20] hagenw commented on #39
Regarding PyTorch there is an ongoing discussion in https://github.com/pytorch/pytorch/issues/11578, but I think we don't have to make our decision based on the outcome. Both https://github.com/pytorch/vision and  https://github.com/pytorch/audio are self-contained repositories with there own testing framework.

So, indeed, we should ask  https://github.com/pytorch/audio if they are willing to inc

[2019-05-04 11:27] hagenw commented on #39
I asked them (https://github.com/pytorch/audio/issues/102) and added a pull request for automatic testing on travis (https://github.com/pytorch/audio/pull/100)

[2019-05-04 16:20] keunwoochoi commented on #39
Perfect, thanks a lot. To not block #34, I'll merge it with `unittest` at the moment. @ksanjeevan agreed that he's willing to change it to `pytest` later.

[2019-05-04 16:32] keunwoochoi opened #41 "Python version"
We never specified a version. After https://github.com/pytorch/audio/pull/100/commits, pytorch/audio implicitly became `py 3.5`-first. The main issues would be..

- Should we include `2.7`?
- What would be the `x`'s for `3.x`?

[2019-05-04 17:08] faroit commented on #41
3.5-3.8 please ;-)

[2019-05-04 18:33] hagenw commented on #41
I would also opt for 3.5- and not 2.7. But be aware that PyTorch has support for 2.7.

In https://github.com/pytorch/audio/pull/100 I included only Python 3.5 as [pytorch/audio](https://github.com/pytorch/audio) needs currently libpython-dev, which is not available for all Python versions on all Ubuntu versions.

I think it will be easier to solve, when the general installation procedure of [pytor

[2019-05-04 18:35] hagenw commented on #39
Don't worry, we don't have to change existing `unittest` as they will be executed by `pytest` as well. If we add further tests or can improve existing ones with `pytest` then it is worth considering a rewrite.

[2019-05-04 18:37] #19 closed

[2019-05-04 18:37] #20 closed

[2019-05-04 18:38] #22 closed

[2019-05-04 19:33] keunwoochoi commented on #39
@hagenw Perfecter!

[2019-05-06 00:45] keunwoochoi commented on #41
Yeah, I tentatively added `3.5` in the travis setting.

https://github.com/keunwoochoi/torchaudio-contrib/commit/e642195bbf0e222d5e2ca5ff1a4dc7c095158125

[2019-05-06 04:25] keunwoochoi commented on #25
I don't understand why I said

Let's not do 2.

Instead of

Let's not do **3**.

[2019-05-06 04:25] #18 closed

[2019-05-06 04:26] keunwoochoi commented on #23
Hm, until there's someone volunteering I'll keep it closed.

[2019-05-06 04:26] #23 closed

[2019-05-06 04:29] keunwoochoi commented on #35
Seems like we agreed with the suggestion. All the current implementation follows this, and we'll keep the new PR's to be the same.

[2019-05-06 04:29] #35 closed

[2019-05-06 19:49] drscotthawley commented on #37
This seems like a welcome change.

Somewhat related: this is probably old news to you, but I'll post it anyway b/c I missed it:  Brian McFee's group put out a paper last winter on [Open-Source Practices for Music Signal Processing Research](https://ieeexplore.ieee.org/document/8588406). Justin Salamon posted a [PDF of the preprint on his website]( http://www.justinsalamon.com/uploads/4/3/9/4/43949

[2019-05-09 09:46] ATriantafyllopoulos commented on #40
I have to mention that on-the-fly resampling has proven a tough nut for me to crack. I have tried using `resampy` and `scipy` for resampling, but both turned out to be huge bottlenecks for training. `sox` and `ffmepg` were also tremendously slow.

If anyone is interested in this, I could try to provide a more comprehensive benchmark, but the qualitative overview is the following:

a) Consistent 90

[2019-05-09 16:10] keunwoochoi commented on #40
Hey, yes, agreed with the motivation.

Could you elaborate? Do you mean you’ve tried to resample on GPU?

[2019-05-10 08:49] ATriantafyllopoulos commented on #40
No, the resampling was done on the CPU. This drop in GPU utilization can (probably) be attributed to inefficient data loading.

a) In case of offline resampling, data loading consists of loading a wav file using `audiofile` and doing some spectrogram transforms. This is done efficiently on the CPU and the GPU never waits for new data to come so its utilization stays on high levels (it is only used

[2019-05-11 00:44] ksanjeevan opened #44 "Spectrogram Augmentation"
I thought we could start a discussion on what/how we'd like to see as far as spectrogram augmentation in the project.

We had already some design discussion about this in #29. Having augmentation done in the network means that depending on the transform, it would also have to modify the labels. But if we are committed to having the Spectrogram as a layer in the model, then augmentations will come

[2019-05-11 22:31] keunwoochoi commented on #44
All approaches look interesting for me.

+1

If it doesn't add computation complexity too much (which I doubt), yes, it seems making more sense.

Hmm, can't we do it with the provisional vocoder implementation? And what do you mean by

?

[2019-05-12 00:41] ksanjeevan commented on #44
Ok I'll do some timing to make sure, could also have both versions.

So since we need to resample the signal, pitch shifting with the phase vocoder would look something like this:
[code]
So then it's not a module we can apply directly to a spectrogram (i.e. can't just add pitch shifting to our model as `nn.Sequential(Spectrogram(),  SpecPitchShift())`, like we would do for time stretching `nn.Sequ

[2019-05-12 20:37] keunwoochoi commented on #44
Good points. If we could put the both-are-changing scenario aside at the moment, wouldn't the name be without `Spec` anyway? Not because it's complex numbers but because the name is about what it does (time stretch, pitch shift, etc) rather than on which domain it does.

On name, let me open another issue which will be #46

[2019-05-12 20:54] keunwoochoi opened #46 "Argument names for waveforms, 2d representations (real and complex)"
## Problem
As I commented #45, I think things are little unclear whether layers/functionals take waveforms or {real or complex} spectrograms. Magnitude downmix, for example, can (ideally) work for all three of them. Even if it doesn't, the name shouldn't be specifying what kind of input to take. Still, it'd be nicer if it can be specified intuitively.

## Our current status

We haven't decided on

[2019-05-12 20:57] keunwoochoi commented on #44
(continued)
So, if we agree with removing `Spec` from the name, it'd be `TimeStretch` and `PitchShift`? Later, doing both could be, um, `TimeStretchPitchShift` or `PitchShiftTimeStretch` oh my god.

[2019-05-12 21:00] keunwoochoi commented on #41
Ok, let's not bother with <3.5 until we have any issue.

[2019-05-12 21:00] #41 closed

[2019-05-12 21:01] keunwoochoi commented on #39
https://github.com/pytorch/audio/issues/102#issuecomment-489332202

Ok, let's go with `pytest` @hagenw Could you possibly make a PR for it?

[2019-05-12 21:03] keunwoochoi commented on #29
https://github.com/librosa/librosa/pull/872 Recently librosa added `Stream` generator.

[2019-05-12 21:36] ksanjeevan commented on #44
+1, I think initially I put `Spec` in there since librosa's `time_stretch` takes in a waveform and ours the stft output. If the argument names are clear I like `TimeStretch` and `PitchShift` more though.

Oh so you're saying we'd have another layer in case both are used? I just don't quite like the `STFT` being called as part of the `PitchShift`...

[2019-05-12 21:46] ksanjeevan commented on #46
Yeah I was going off the discussion [here](https://github.com/keunwoochoi/torchaudio-contrib/issues/36#issuecomment-481144944) from #36.

Looks like we'd be going for `signal -> waveform` and `spect -> _grams`. I definetley like adding the `real_`/`complex_`, even if we keep the `spect` I think it's better than `stft` for complex (which is just confusing as a param name) and `spect` for real.

:+1

[2019-05-12 21:51] keunwoochoi commented on #44
I thought that's what you mean by

Wasn't it?

Maybe we also need to decide how to structure the files for all the layers and functionals. I'm also planning to add harmonic-percussive separation (#25) and was thinking to add a new file like `beta_hpss.py` to make it clear that it's still under dev. On the ultimate structure, #47 coming soon!

[2019-05-12 21:52] keunwoochoi opened #47 "File structure"
Instead of having only two files as we are now (`functional.py` and `layers.py`), I'd like something like [I did on Kapre](https://github.com/keunwoochoi/kapre/tree/master/kapre) but slightly different because we have functionals and layers. So, something like..
- `functional.py` for all the functionals
- `time_frequency.py`, `filterbanks.py`, `augmentation.py`..
  - but `layers.py` as an interfac

[2019-05-12 21:54] ksanjeevan commented on #44
Yes. Just to clarify, that's how it would have to be if we used the phase vocoder for pitch shifting. I was just lamenting it makes for an unintuitive flow :).

:+1: :+1:

[2019-05-13 02:09] keunwoochoi commented on #27
@faroit Hey, so after closing it I think we sort of lost the track. I don't think it's actually necessary to wait for the pytorch istft. There are also some implementation details (e.g., deconv like @seungwonpark's vs rfft as I've done), but maybe we have our own tentative implementation with a less-tentative API? Seems like critical issues were resolved (https://github.com/faroit/stft-istft-exper

[2019-05-13 02:14] keunwoochoi commented on #27
+ Along with add `InverseSTFT` we need more tests for `STFT` including to check if the stft result is correct.

[2019-05-13 06:50] zcaceres commented on #44
@keunwoochoi yes spec_augment is implemented here: https://github.com/zcaceres/spec_augment

There are also Pytorch implementations of many of the augmentations discussed in this thread here:
Basic: https://github.com/zcaceres/fastai-audio/blob/master/DataAugmentation.ipynb
GPU: https://github.com/zcaceres/fastai-audio/blob/master/course3B/08zb_DataAugmentation.ipynb
Shift Transformation: https://

[2019-05-13 08:34] faroit commented on #27
Okay, what about we open up an PR with an API proposal to address ISTFT in https://github.com/pytorch/pytorch/issues/3775. Then we could

* implement ISTFT using the deconv "hack" here
* switch to a cleaner ISTFT op later, once available in pytorch

[2019-05-13 09:16] hagenw commented on #39
Sure, will do until end of week.

[2019-05-13 09:17] faroit commented on #46
there is a bunch of people in DSP that really don't like calling complex stfts a spectrogram. This also goes in line with many textbooks and wikipedia. I would really suggest to keep this accurate (even though I agree with you that the parameter naming doesn't read well).

[2019-05-13 09:18] faroit commented on #46
another option could be using `image`, especially since we fully want to support multichannel. Such as `real_image`, `complex_image`.

[2019-05-13 15:29] keunwoochoi commented on #46
@faroit Yeah, couldn't find a perfect name. But would `images` be less provoking than `specgrams`? :P I think the most important thing here is to **correctly imply**.

I wish I could! But for an API, I'd like it to be specific as well as accurate (yeah, I'm not thinking like a dsp person here).

[2019-05-13 15:32] keunwoochoi commented on #27
You mean a PR here? (Yes let's do it)
Or in pytorch? (Would they care about accepting an API without an implementation? Also, we can easily change it later, at least in this repo)

[2019-05-13 15:40] faroit commented on #27
On pytorch.

Yes we could just add this ISTFT but then it's rather hacky (using conv layers) and would mean it won't be that easy to make it clean and readable. And once we reached that someone would have to start from scratch using libtorch, thus it wouldn't particularly sustainable ;-)

[2019-05-13 15:48] keunwoochoi commented on #27
Ok, I'm not really sure if they'd care an API only. Given the history, they've been adapting what had implemented outside of Pytorch quite actively (in other words, somehow blindly if it seems good), at least for the case of audio processing. So, how about we do it here, maybe
[code]
?

It wouldn't block a follow-up dev while we refining it.

[2019-05-13 23:43] keunwoochoi commented on #27
(continued)

..Or, **BOTH**?! Since we have control and flexibility here  -- and the API for `ISTFT` would be pretty much the same to that of `STFT`, let me add a tentative one (or persuade @seungwonpark to add one here :) while asking Pytorch. @faroit Could you open a PR for that?

[2019-05-20 17:11] ksanjeevan commented on #44
So I was thinking a possible interest in having examples in the batch be masked differently would be if working with padded sequences. Then the module could take as input the actual lengths and provide masking boundaries accordingly (i.e. set the max to seq length, not spect num bins)?

I did some timing and clearly `spect[:,:,f_0: f_0 + f] = mask_value`, `spect[:,:,:,t_0: t_0 + t] = mask_value` i

[2019-05-20 22:58] keunwoochoi opened #52 "we need `dtype=torch.get_default_dtype()`"
The title says it all -- i just saw torch/audio started to support this (https://github.com/pytorch/audio/commit/51e2793395bcd6ffc7c81f75f0b8dec06b9a7313) and clearly we should do the same.

[2019-05-21 02:42] #24 closed

[2019-05-22 13:21] f0k commented on #31
Both A and B will require compiling something against external dependencies on installing torchaudio. How easy is it to conditionally compile only what we have dependencies for? To me it seems that whatever interface (ffmpeg, sox, sndfile) we choose, this would be more generic than torchaudio, and should be a separate module. We don't really need a compiled module that directly produces a torch te

[2019-05-22 13:53] f0k commented on #40
Do you use mel spectrograms? Did you, by any chance, try changing the STFT window and hop size and the mel filterbank dynamically depending on the sample rate, instead of explicitly resampling in the time domain?

[2019-05-22 16:29] f0k commented on #47
[What we did in Lasagne](https://github.com/Lasagne/Lasagne/tree/master/lasagne/layers) was to [have `layers/__init__.py` do `*`-imports](https://github.com/Lasagne/Lasagne/blob/master/lasagne/layers/__init__.py) from files grouped by topics (`layers/conv.py`, `layers/pool.py`, `layers/norm.py`, ...). This way all classes are available directly under `lasagne.layers`, without having a single large

[2019-05-22 16:49] f0k commented on #46
I think this should just be part of the discussion in #36, not a separate issue. Shall we close this and continue over there?

[2019-05-22 17:02] f0k commented on #44
What I did in the ISMIR 2015 paper you linked was to apply a single affine transformation to the STFT result that stretches both in time and in frequency: https://github.com/f0k/ismir2015/blob/master/experiments/augment.py#L54-L90

`SpectStretchShift`? It may be clear from the context what we stretch (the time) and shift (the pitch).

[2019-05-23 08:22] ATriantafyllopoulos commented on #29
@f0k we have finally open-sourced our package, which you can find here: https://github.com/audeering/audtorch

First a few words regarding its design principles before I try to address your points:

* When we started designing it pytorch was still in its 0.x version so there was no native STFT

* We use a similar structure as `torchvision`. This means defining a `Dataset` object (you can find a co

[2019-05-23 09:33] faroit commented on #29
@ATriantafyllopoulos that looks really great! congrats! I will have a deeper look later.

I just had a quick look at the `BucketSampler`, does this actually address excerpt sampling/chunking from from a single datasets?

[2019-05-23 10:27] ATriantafyllopoulos commented on #29
@faroit no this provides a different functionality. It is used to splits samples of one data set in buckets and then sample from the buckets in a specific way.

We are currently experimenting with chunking of long audio. There are two alternative solutions:

a) Save an exhaustive list of offsets/durations for each file. Then use that to index the underlying `DataSet` and load the appropriate chunk

[2019-05-23 10:37] faroit commented on #29
I would be happy to share our source separation repo soon which could serve as a good benchmark for this. I actually implemented a) using torchaudio and pysoundfile as backends which both support seeking. Results were good for wav and flac, but I couldn't saturate the gpu for mp3s... will share that soon.

One downside is a that sample accurate seeking is not possible with mp3 and mp4 without load

[2019-05-26 23:59] keunwoochoi opened #54 "Downmix - api design"
Regarding #45 . Ok my quick suggestion.

- `SpectrumDownmix(mag_specgrams)` which does what's suggested in #45.
- `WaveformDownmix(waveforms)` which simply sums up the input along the channel-axis.

Any thought?

[2019-05-27 00:01] keunwoochoi commented on #47
@f0k
I like it. Not sure how the official torch/audio would go but we can still do it like that, and probably we have to at some point not to have like 1000-line files.

[2019-05-28 01:53] keunwoochoi commented on #52
Draft by PR #55, but test is needed.

[2019-05-28 01:56] keunwoochoi commented on #36
Wouldn't it be quite a high-level model than we'd add as a pytorch/audio?

[2019-05-28 01:56] keunwoochoi commented on #46
You're right, this is what we were talking about with `spect`. I'm closing it.

[2019-05-28 01:56] #46 closed

[2019-05-28 01:57] keunwoochoi commented on #36
On `rate` vs `sample_rate`: Seems like `sample_rate` is getting the most votes.

[2019-05-28 02:05] keunwoochoi commented on #36
So far we've been already adopting what @f0k summarized [up there](https://github.com/keunwoochoi/torchaudio-contrib/issues/36#issuecomment-481144944). One thing, that I once opened an separated issue about #46, is names for spectrograms.

`spect` is not bad, but I'd like to suggest that we should specify little more. My suggestions are based on this idea:
- `mag`, `phase` > `real` --> because it

[2019-05-30 18:09] keunwoochoi commented on #36
One more thing.

I'd vote for `num_freqs` for the number of (linear) frequency bins, `num_mels` for the number of mel bins. In my recent PR (#58) I adopted it without checking this issue, but when reading the code I was quite confused because both "freq" and "mel"  can be combined with "bins" and "bands".

[2019-05-30 21:59] faroit commented on #36
:+1:

I still don't like this as mentioned earlier... i just had a new idea: what about  `tf`...

`mag_tf`
`phase_tf`
`complex_tf`

that could easily also fit for both STFT and MEL

[2019-05-30 22:00] faroit commented on #54
i like that

[2019-05-30 22:05] faroit commented on #31
i totally support this. Again, we should drop sox for a simpler solution that just support wav and handle all other formats in optional modules.

Just a few days ago the new version of [tensorflow io was released](https://github.com/tensorflow/io/releases/tag/v0.6.0). They now included a wav dataset and [ops that support wav decoding](https://github.com/tensorflow/io/tree/master/tensorflow_io/audi

[2019-05-31 17:21] keunwoochoi commented on #31
I think that's great. For other formats people can use `madmom`/etc, still a super fast wav loading directly to torch would be great.

[2019-05-31 17:22] keunwoochoi commented on #54
good!

[2019-05-31 17:24] keunwoochoi commented on #36
umm, the word itself is not bad. but i'm little nervous about inventing a new one, because the naming was about things being readable without searching for the meaning at all.

~also it looks like tensorflow :P~

that said, yeah, your reason is totally valid. hm..

[2019-06-01 14:22] deNsuh commented on #31
@faroit I agree. After supporting WAV, we could discuss how to handle other formats by then. But we should consider expandability in mind while implementing audio reads and design interfaces to which we can plug in various other libraries available for later on.

[2019-06-02 05:48] drscotthawley commented on #27
Minor clarification question: If the STFT coefficients are allowed to evolve & train via autograd (I assume they are, yes?), then is the idea of for this ISTFT module to be either

(a) sort of a 'trainable' ISTFT which may not remain a perfect inverse to the trainable STFT? i.e. it is independent from the STFT routine?  (@seungwonpark's deconv version looks that way)
or
(b) a routine that is to be

[2019-06-03 07:07] hagenw commented on #54
I would also vote for this.

Two small remarks:
* To be more in line with the current naming behavior (e.g. `StretchSpecTime`) I would go with: `DownmixSpectrum` and `DownmixWaveform`.
* For `WaveformDownmix(waveforms)` I would expect that it not only sums up all channels, but calculates the mean across them.

[2019-06-03 07:24] hagenw commented on #36
@faroit could you please refer to your earlier post as I was not able to find it in this thread.

I think spectrogram refers more to the visual representation of the actual time-frequency representation. Is this the reason you would prefer the term `tf`?

I'm not completely convinced by `tf` as
* it's not readable
* it's harder to understand for someone new to the audio field as spectrogram is wid

[2019-06-03 14:31] f0k commented on #36
Is there a consensus on using `specgram` and `waveform`? I liked the shorter `spect` and `signal` better, but I can't argue against the longer names (except that they're longer).

I find `tf` too cryptic, to me this is on the line of the variables in the title that we wanted to get away from.

Not sure. This is something that could be handled by the mel spectrogram computation, and if we claim thi

[2019-06-03 14:43] f0k commented on #31
Agree.

Cool. (Not sure that's the fastest way though.)

Where I think that the "optional modules" should be existing third-party modules, and we can decide whether the necessary wrappers would be part of torchaudio or not.

[2019-06-03 15:14] f0k commented on #29
Cool!

The problem is that it only has a single integer index for identifying a data point. If we want to identify data points also by the position, we would need to define a bijection from (file, position) to int. If we also want to identify data points by data augmentation parameters, we're lost.

No, when I was talking about sources, I meant a vertical split of the dataset, not a horizontal one

[2019-06-03 16:47] keunwoochoi commented on #31
I think we agree on high-level that a fast and direct `wav` decoding is the way to go instead of the current `sox`-based wrapping and piping.

@cpuhrsch Have you guys thought about it before? It'd be another, independent direction of a significant and breaking change we've been discussing so far.

[2019-06-03 17:15] keunwoochoi commented on #36
Ok, we're getting there!

I feel like there is a weak consensus. There's a sort of consensus, a bit weak that it wasn't finalized yet. ~Like Brexit~. If there's no other popular candidate, I think we're good to go.

: wouldn't it be (always) a magnitude one? hypothetically, it looks alright though. 👍

I missed mentioning that it's great to have a dedicated word for things in seconds! 👍

Yeah, neit

[2019-06-03 17:28] keunwoochoi commented on #54
Actually, shouldn't that be also `TimeSpecStretch` and hypothetically`TimeStretch`, `SpecStretch`? I think they'd be aligned better with other names like `DbToAmplitude`, `MuLawEncoding` as well as read more naturally. (cc' @ksanjeevan )

Totally agreed. Didn't really mean sum > mean.

[2019-06-03 17:56] keunwoochoi commented on #27
I also guess it'd be (a) in the case, i.e., the provided ISTFT is a static, non-trained module.

[2019-06-04 08:19] ATriantafyllopoulos commented on #29
The way we chose to handle this for now is to assume that it is still the `Dataset`'s job for taking care of all that under the hood, and simply provide an interface to the `DataLoader` for iterating through the data.

Regarding chunking for example, a naive approach would be that the `Dataset` creates a list of all possible chunks, and then the `Dataloader` would simply shuffle through all them.

[2019-06-04 14:31] f0k commented on #29
Indeed, see the third paragraph in https://github.com/keunwoochoi/torchaudio-contrib/issues/29#issuecomment-475692083:

Note that (b) can be avoided by using weighted sampling. But a more efficient sampling scheme is to pick the file at random without replacement, then pick a random position within the file at random with replacement. To enable this, the dataset will need to have some kind of mult

[2019-06-04 15:00] faroit commented on #36
just wondered how we name outputs with `power > 1` (such as the output of `complex_norm(.., power=2)`:

`psd_specgram` or `power_specgram`?

I would vote for the latter

[2019-06-04 15:04] keunwoochoi commented on #36
`power_specgram` sounds good to me, too.

[2019-06-04 15:56] faroit commented on #54
I would again propose to offer a mono downmix option in the `Spectrogram` layer.
My feeling is that by just having this option people would less often do a downmix in the time domain which does not preserve the energy and can lead to inferior processing results when then model is operating in the single channel domain but input and output is stereo (source separation, denoising etc).

[2019-06-04 16:12] keunwoochoi commented on #54
@faroit That's a good point, except.. maybe a new issue for that topic? :^P haha

- On `sum` vs `mean`, I'd conclude we're fine with `mean`.
- On the names `spectrum_downmix` vs `downmix_spectrum`, any opinions everyone? The point is which would be more consistent along with other APIs.
  - I think we're sort of in favor of readable names such as `complex_norm`, which would be usually `adjective`

[2019-06-04 18:20] faroit opened #60 "Waveform Augmentation"
as opposed to #44 there are a number of effective augmentations that could be done in the time domain, namely

* __gain augmentation__: applying a random gain to the waveform
* __channel swapping__ (for stereo models): swap channels with p=0.5
* __channel selection__ (for mono models): randomly choose left or right channel instead of downmixing both channels
* __noise__: add gaussian noise to the

[2019-06-04 18:35] keunwoochoi commented on #60
Looks nice overall. I'd like to think about channel selection, seems like it's somehow different from all the others.  All the rest seem relevant and useful.

[2019-06-04 20:02] faroit commented on #36
did we actually miss `num_frames` for the time dimension in the listing above or have decide on something different?

[2019-06-04 20:04] keunwoochoi commented on #36
Oh, i think we missed it. `num_frames` seems fine for me.

[2019-06-04 20:29] faroit commented on #36
okay, updated...

`waveform`: a tensor of audio samples
`waveforms`: a batch of the former
`sample_rate`: the rate of audio samples (samples per second)
`specgram`: a tensor of spectrogram or mel/CQT spectrogram frames
`specgrams`: a batch of the former
`mag_specgram`: specific spectrogram that only holds magnitudes
`power_spectrogram`: specific spectrogram that holds energy such as `mag_specgram*

[2019-06-04 23:35] drscotthawley commented on #27
Ohhh, static & non-trained.  Interesting.  Thanks for the clarification.

[2019-06-05 06:40] hagenw commented on #60
Thanks for starting this discussion. For the beginning I would add two more, that I found useful so far:

* **data set**: add waveforms from another data set, e.g. [audtorch.transforms.RandomAdditiveMix](https://audtorch.readthedocs.io/en/0.1.1/api-transforms.html#randomadditivemix). **noise** could be an extra transform or part of this one (dependening if we have noise data sets or not)
* **cropp

[2019-06-05 06:52] hagenw commented on #54
I just looked for two random PyTorch examples and found: `SyncBatchNorm` and `DataLoader` which are both classes. That looks not that consistent to me ;)
If you look at `os` in the Python standard library you find things like `mkdir`, `waitpid`, `unsetenv`. So this would be `verb` + `noun`.

At the moment I would vote for `DownmixSpectrum` and `StrectSpecTime`. Otherwise `SpectrumDownmixer` and `S

[2019-06-05 08:08] ATriantafyllopoulos commented on #29
This is is the solution I am also in favor of.

Agreed, modularity is what we were aiming for when we designed our [transforms](https://github.com/audeering/audtorch/tree/master/audtorch/transforms). Which is why I think transforms on different modalities or streams should remain independent.

Well, maybe this is where I went too far with code modularity. We designed our transforms to depend on th

[2019-06-05 15:20] cpuhrsch commented on #31
@keunwoochoi - quickly reading audio files will absolutely become more and more important as transforms and networks are running on faster and faster GPUs. This is similar to the data issues you can experience within computer vision if the data is being fed fast enough.

I'd want to tackle this actively if we have a benchmark that shows that reading audio files is keeping a network from running at

[2019-06-05 20:21] keunwoochoi commented on #54
OK, I asked an anonymous native English speaker and music researcher. We go with `DownmixWaveform` and `DownmixSpectrum`!

[2019-06-05 21:26] ksanjeevan commented on #54
👍

I like `StretchSpecTime` since, to me, it reads more intuitively (i.e. "**stretch** the **spect**rogram in **time** dimension", it's like this sentence in variable name :).  That said, `TimeStretch` or `SpecStretch` also work since the time stretching with phase vocoder has to use the complex spectrogram, so there shouldn't be much ambiguity and it's more compact naming.

[2019-06-06 02:37] keunwoochoi opened #61 "Merging plan to torch/audio - Phase 1 and 2"
Hi all,
This is an important announcement that I'm glad to make. As we hoped from the very beginning of this repo aka `-contrib`, there will be a big, breaking change of [`torch/audio`](https://github.com/pytorch/audio), and many things that we're working on here would be probably a big part of it. It was our very first motivation when we started this whole thing with me and @faroit :) Just to giv

[2019-06-06 04:06] keunwoochoi commented on #54
Ok. Hmm, if it's always on spectrogram, that information is actually included in the argument name. And I actually misunderstood it does it along both time and spectral axis (which would be still a weird name though). One can argue that that's same for `downmix` layers but in that case we have to specify so probably a different story.

This issue was for naming of `downmix` but let's just do it he

[2019-06-06 04:42] keunwoochoi commented on #36
We go for `num_bins`? I still think it's fine to use `num_freqs` and slightly clearer than `num_bins`. `bins` sounds like... histogram :P

[2019-06-06 05:37] keunwoochoi commented on #61
On the work for Phase 1 - #62 covers `STFT`, `ComplexNorm`, `Spectrogram`. They follow `torch/audio` docstring conventions (+ my criteria, which is to be extremely nice to beginners!). Variable names are mostly up-to-date w.r.t. #36 except those very few that are currently unclear.

@ksanjeevan, could you update `StretchSpecTime` following layers above? Regarding #54, we though need to finalize th

[2019-06-06 05:43] ksanjeevan commented on #61
Will do, hopefully tomorrow!

Yay, glad to have been there.

[2019-06-10 21:24] keunwoochoi commented on #61
Log - `STFT`, `ComplexNorm`, `Spectrogram` and `StretchSpecTime` are ready to be reviewed by oorch/audio maintainers.

[2019-06-14 15:05] f0k commented on #36
No, not necessarily. It depends on how you compute it. But most functions won't care, and will just call it `mel_specgram` or `specgram`.

Fine with me. I'm biased because I use `num_` in my own code, but I assume `n_` won't be confusing. Other opinions?

Nice idea. Ok, I'm fine with `_freqs`!

`batchsize` as usual :) You're right, this doesn't fit the remaining names, but that term is very common

[2019-06-14 15:26] f0k commented on #54
Two remarks:
* If we have something that needs a different class for spectrograms and waveforms, then "verb + noun" ensures the two classes appear next to each other in an alphabetic listing. That's sometimes useful.
* Will `Spectrum` be replaced by what we decide to use in #36? E.g., `Specgram`? I understand that downmixing operates on each spectrum separately, or actually on each bin, but I thin

[2019-06-17 21:09] cpuhrsch commented on #61
@keunwoochoi - I'm sorry if I'm being obtuse here. Just for reference, which pull request are you mentioning here?

[2019-06-17 21:13] keunwoochoi commented on #61
@cpuhrsch Hey, there was a bunch of them and now they're all at the `master` branch here. But as we've talked on slack channel meanwhile, @ksanjeevan will make a PR for the functionals and their tests to the official repo soon (wrt https://github.com/keunwoochoi/torchaudio-contrib/pull/66). So, you can safely ignore the updates here in this thread.

[2019-07-05 15:23] keunwoochoi commented on #27
ISTFT is being developed in the main repo https://github.com/pytorch/audio/pull/130

[2019-07-08 21:07] cpuhrsch commented on #40
cc @jamarshon who is currently working on a resampler [based on kaldi](https://github.com/kaldi-asr/kaldi/blob/master/src/feat/resample.cc).

Jason, I suggest you open an issue and we move this over into pytorch/audio and then add support for this to torchaudio.

[2019-07-25 14:39] keunwoochoi commented on #61
Phase 1 completed. Special thanks to @ksanjeevan!
https://github.com/pytorch/audio/pull/131

[2019-07-25 14:40] keunwoochoi commented on #61
Also, quite a bit of our work is being considered/included :)

[2019-08-10 19:04] cpuhrsch commented on #61
So now that we've released 0.3.0, standardized many aspects of the library and merged Phase 1, should we start looking into Phase 2? :)

[2019-08-12 09:46] keunwoochoi commented on #61
@cpuhrsch Yes, definitely. On a business trip now but will get back to plan further.
Btw, congrats for the 0.3.0 release! I was glad to see it :)

[2019-08-13 18:24] scarecrow1123 opened #67 "Standardizing audio datasets"
Hello! I'm relatively very new to audio processing and I recently started working on speech recognition. I was wondering if torchaudio or -contrib would be a good place to provide standardized distributions of the different publicly available audio/speech datasets. This proposal comes as a result of dealing with too many different formats/directory structures that exist in the current datasets, su

[2019-08-13 18:56] hagenw commented on #67
Good point, I guess data sets are not as well handled so far as the could be, see also https://github.com/pytorch/audio/issues/116.

Just one comment on "standardized distributions": I would not include it in a way that it will only work with a special format and not also with something simple like a list of WAV files.  It might be that other people want to use `torchaudio` with their own data set

[2019-08-14 10:35] rfalcon100 commented on #67
Do you know of any tests proving the advantages of HDF5? I have been testing different ways to load big audio datasets (>3 TB of WAV files), including:

- Loading individual `npy` files. (After offline preprocessing, converting from WAV --> `numpy`).
- Loading individual `torch.tensor` files. (After offline preprocessing, converting WAV --> `torch.tensor`)
- Single HDF5 file
- Single LMDB file
- M

[2019-08-15 18:29] keunwoochoi commented on #67
+1, also for me keeping individual files are the simplest.

[2019-08-15 18:31] keunwoochoi commented on #67
Just a note in general, keeping a dataset loader itself could require quite a lot of workload - for reference, see the PRs of https://github.com/mir-dataset-loaders/mirdata. How about, instead, collecting implementations of customized dataset loader that inherits from `Dataset` and `DataLoader`, maybe in an example folder? It is a very tedious job to do.

[2019-08-16 18:07] #40 closed

[2019-08-19 14:01] keunwoochoi commented on #61
# Phase 2

In the comment above, I listed we could do things like..
- all the preprocessing layers and functionals,
- augmentation,
- audio loading,
- chunking,
- and anything else that would make sense to have.

To do so, we probably first need to update our `-contrib` repo by..
- importing the recent `torch/audio`
- removing all the overlapping codes.

I am not 100% sure if all of these have to

[2019-08-23 18:32] keunwoochoi commented on #61
- a neat implementation of pre-emphasis and de-emphasis (https://github.com/AppleHolic/pytorch_sound/blob/master/pytorch_sound/models/sound.py)

[2019-09-29 18:50] vgoklani opened #68 "_ModuleNoStateBuffers"
Hello - thank you for assembling this repo!

Could you please explain why this class is needed: _ModuleNoStateBuffers in the layers file?

Also note, I'm having problems using apex/amp for mixed precision training with this module. Is that because of this class? Thanks!

[2019-09-29 19:44] ksanjeevan commented on #68
Hi @vgoklani, so the `_ModuleNoStateBuffers` class simply extends `nn.Modules` so that layers' buffers aren't stored with the `state_dict`. So for example when saving model weights where one of the layers is a `STFT` transform, it won't store the `window` tensor (since it's not a learnt parameter).

As far as the issue you're having I'm not quite sure. Could you give some more context?

[2019-10-11 12:47] f0k commented on #68
That would be unfortunate -- what kind of problems exactly? Is there an error message? At first glance, amp does not seem to rely on the state dict to convert models, so it should be fine: https://github.com/NVIDIA/apex/blob/fab319f/apex/fp16_utils/fp16util.py#L57

[2019-12-07 08:12] kamalesh0406 opened #69 "Loading Datasets"
As the graph in the README suggest librosa has the fastest loading times but it still faces a lot of issues when trying to load a lot of files simultaneously.  Can we propose to create a new DataLoader function that is derived from the Pytorch DataLoader? We could name this as AudioLoader.

[2019-12-07 08:15] #69 closed

[2019-12-07 08:21] kamalesh0406 opened #70 "Displaying Spectrograms"
Can we create a function to display Spectrograms similar to librosa.display.specshow . It would be better if all the functionality was within one library.

[2019-12-07 11:23] #52 closed

[2019-12-07 11:26] keunwoochoi commented on #70
Hi, that's a nice idea but I'm afraid there are more 'core' stuff that lacks in torch/audio. By the way, some of the manifesto we claimed is now part of the official torch/audio (it should've been on the current readme) and I guess we can maybe archive this repo. I'll close it mainly for that reason :)

[2019-12-07 11:26] #70 closed

[2019-12-07 11:44] keunwoochoi opened #71 "Archive the repo"
It's been almost a year since me and @faroit talked about the work that later became a part of this repo. [A quick search on the official repo](https://github.com/pytorch/audio/issues?utf8=✓&q=contrib) shows the impacts we've made onto the official repo. [Complex norm, phase Vocoder, and some other functionalities](https://github.com/pytorch/audio/pull/131), [variable naming conventions](https://g

[2020-05-17 13:41] WangHelin1997 opened #72 "For Gammatone filters"
Hi.
Could you please update the code for Gammatone filters in the future?
Thanks a lot.

[2020-05-17 22:24] keunwoochoi commented on #72
Hi, we stopped working on this repo. Please visit the official torchaudio repo https://github.com/pytorch/audio for any request.

[2020-05-17 22:24] #72 closed